/*
 * Copyright © 2008-2019 Pinnacle 21 LLC
 *
 * This file is part of Pinnacle 21 Community.
 *
 * Pinnacle 21 Community is free software licensed under the Pinnacle 21 Open Source Software License located at [http://www.pinnacle21.com/license] (the “License”).
 *
 * Pinnacle 21 Community is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY, and is distributed “AS IS,” “WITH ALL FAULTS,” and without the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 * See the License for more details.
 *
 */

.progress-container {
    margin: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progress-container .summary {
    font-size: 14px;
    margin-bottom: 3rem;
}

.progress-container .detail {
    font-size: 12px;
    margin-top: -1rem;
}