/*
 * Copyright © 2008-2019 Pinnacle 21 LLC
 *
 * This file is part of Pinnacle 21 Community.
 *
 * Pinnacle 21 Community is free software licensed under the Pinnacle 21 Open Source Software License located at [http://www.pinnacle21.com/license] (the “License”).
 *
 * Pinnacle 21 Community is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY, and is distributed “AS IS,” “WITH ALL FAULTS,” and without the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 * See the License for more details.
 *
 */

/* Sidebar */

/* This handles collapsing the sidebar */
@media screen and (max-width: 992px) {
  .content-wrapper {
    margin-left: 0 !important;
  }
}
.left-sidebar {width: 184px;}
ul.main-menu > li a {padding: 10px 0 11px 15px;}
ul.main-menu > li a, ul.main-menu > li .text {font-size: 14px;}
ul.main-menu > li a i {margin-right: 2px;}
ul.main-menu > li > a.active {font-weight: 700; background-color: #dfdfdf;}
ul.main-menu > li > a.connect.active {background-color: inherit;}
ul.sub-menu > li > a.active {font-weight: 700;}
.left-sidebar.minified .main-menu > li:hover > a > .text {padding: 10px 10px; border-bottom: none;}

.slide-enter {max-height: 0;}
.slide-enter.slide-enter-active {max-height: 94px; transition: max-height 300ms ease-in;}
.slide-leave {max-height: 94px;}
.slide-leave.slide-leave-active {max-height: 0; transition: max-height 300ms ease-in;}

ul.main-menu > li > a.connect {padding-left: 5px; padding-top: 20px;}
ul.main-menu > li > a.connect button, ul.main-menu > li.disconnect button {
    border-radius: 5px;
    background-color: rgb(245, 130, 32);
    font-weight: bold;
}
ul.main-menu > li > a.connect button:focus, ul.main-menu > li.disconnect button:focus {border-color: rgb(245, 130, 32);}
.fa.fa-bolt.success {color: rgb(245, 130, 32);}
.disconnect {text-align: center; padding-top: 20px; padding-bottom: 11px; border-top: 1px solid #dfdfdf;}

/* Sidebar Notification */

.sidebar-content ul.quick-access { margin-bottom: 0;}
.sidebar-content ul.quick-access > li { width: 100%; padding: 0; }
.sidebar-content ul.quick-access > li a,
.sidebar-content ul.quick-access > li a:focus,
.sidebar-content ul.quick-access > li a:hover { text-decoration: none; }
.sidebar-content ul.quick-access > li .quick-access-item {
    display: block;
    position: relative;
    background-color: #555;
    color: #fff;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}
.sidebar-content ul.quick-access > li .quick-access-item h5,
.sidebar-content ul.quick-access > li .quick-access-item p { margin: 0; }
.sidebar-content ul.quick-access > li .quick-access-item p.not-last { margin-bottom: 10px; }
.sidebar-content ul.quick-access > li .quick-access-item em { font-size: 0.85em; }
.sidebar-content ul.quick-access > li .quick-access-item .fa.bg {
    opacity: 0.1;
    -webkit-transform: rotate(-20deg);
    position: absolute;
    top: 0.15em;
    right: -0.1em;
    font-size: 5em;
}
.sidebar-content ul.quick-access > li .quick-access-item:hover .fa.bg { -webkit-transform: scale(1.2, 1.2); }
.sidebar-content ul.quick-access > li .quick-access-item.bg-color-green { background-color: #859419; }
.sidebar-content ul.quick-access > li .quick-access-item.bg-color-blue { background-color: #1d92af; }
.sidebar-content ul.quick-access > li .quick-access-item.bg-color-orange { background-color: #ce7b11; }
.sidebar-content ul.quick-access.list-inline { margin-right: -5px; }
.sidebar-content .quick-access h6 { font-weight: normal; }
.sidebar-content ul.quick-access > li .quick-access-item a.fink { text-decoration: underline; cursor: pointer; color: #fff }
.sidebar-content ul.quick-access > li .quick-access-item .fa-caret-right {padding-left: 2px;}

/* Alert Notifications */
.alert {margin-bottom: 0;}
.top-general-alert { padding: 12px 0 11px 0; display: block; margin-left: 184px; }
.top-general-alert .close { font-size: 21px; float: right; right: 10px; }

/* Main Content - General */

.content-wrapper {margin-left: 184px;}
@media screen and (max-width: 768px) {
  .content-wrapper {
    overflow-y: scroll;
  }
}
.main-header {margin-bottom: 20px;}
.main-header h2 {color: #333;}
.main-header em {color: #999;}

.widget {margin-bottom: 10px;}
.widget .widget-content {padding-bottom: 10px;}
fieldset {margin-bottom: 10px;}
fieldset legend {font-size: 1.2em;}
.form-horizontal .control-label {font-weight: bold;}
.form-horizontal a.control-inline {padding-top: 8px;}
.form-horizontal .right-label {text-align: right; padding-right: 0;}
a {color: #337ab7;}
a:focus, a:hover {color: #23527c;}
.btn-primary {background-color: #337ab7; border-color: #2e6da4;}
.btn-primary:hover {background-color: #286090;}
.form-horizontal .Select-control {border-radius: 0;}
.form-horizontal .Select-menu-outer {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.form-horizontal .Select-control, .form-horizontal .Select-input {height: 30px;}
.form-horizontal .Select--single > .Select-control .Select-value {line-height: 30px;}
.form-horizontal .is-focused:not(.is-open) > .Select-control {border-color: #ccc; box-shadow: none;}
.form-horizontal .Select-menu-outer {z-index: 999;}
.center {text-align: center;}

/* Main Content - Home */

.content-wrapper.home {background-color: #fff;}
.tool-block {text-align: center; padding-left: 20px; padding-right: 20px;}
.tool-block.validator a .fa-circle {color: #4cae4c;}
.tool-block.define a .fa-circle {color: #428bca;}
.tool-block.converter a .fa-circle {color: #f34541;}
.tool-block.clinical-trials a .fa-circle {color: #1caca0;}
.tool-block a:hover .fa-circle {opacity: 0.75;}
.tool-block h5 {color: #555; text-decoration: none; margin-top: 0; margin-bottom: 2px; line-height: 30px;}

/* RECENT UPDATES */
.recent-updates { margin-top: 10px; }
.recent-updates .widget-content { padding-top: 10px; padding-bottom: 0;}
.recent-updates ul.activity-list li { padding-top: 10px; padding-bottom: 10px; }
.recent-updates ul.activity-list li:first-child { padding-top: 0px; }
.recent-updates ul.activity-list li:last-child { padding-bottom: 0px; }
.recent-updates .update-timestamp { min-width: 70px; color: #999; text-align: right; line-height: 30px; }

/* Main Content - Validate */

.delimiter {width: 24px; height: 30px; padding: 4px 2px; margin-left: 5px; margin-right: 5px;}
.qualifier {width: 20px; height: 30px; padding: 4px 2px; margin-left: 5px; margin-right: 5px;}

.drop-zone {
    min-height: 203px;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #999;
    background-color: #fff;
    border: #ccc 3px dashed;
    border-radius: 10px;
    display: block;
}
.drop-zone button {margin-top: 10px;}

.table {margin-bottom: 0;}
.table.table-bordered.table-condensed {height: 203px; position: relative;}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border-bottom-width: 1px;}
.table.table-bordered.table-condensed th i.fa.fa-caret-up,
.table.table-bordered.table-condensed th i.fa.fa-caret-down {float: right;}
.table.table-bordered.table-condensed th:nth-child(1) {width: 90%;}
.table.table-bordered.table-condensed thead th:nth-child(2),
.table.table-bordered.table-condensed tfoot td:nth-child(2) {padding-left: 15px; min-width: 100px;}
.table.table-bordered.table-condensed tbody td:nth-child(1) {width: 100%;}
.table.table-bordered.table-condensed tbody td:nth-child(2) {text-align: center; min-width: 100px;}
.table.table-bordered.table-condensed tbody {
    position: absolute;
    display: block;
    height: 144px;
    overflow-y: auto;
    width: 100%;
    background-color: #fff;
}
.table.table-bordered.table-condensed td,
.table.table-bordered.table-condensed th {border-right-style: none; border-left-style: none;}
.table.table-bordered.table-condensed a,
.table.table-bordered.table-condensed i {cursor: pointer;}
.table.table-bordered.table-condensed tfoot {background-color: #f2f2f2;}
.table.table-bordered.table-condensed tfoot strong {margin-right: 15px;}
.table.table-bordered.table-condensed tfoot label {font-weight: normal; margin-bottom: 0;}

.cursor-pointer {cursor: pointer;}

.btn-view-report, .btn-view-report:focus, .btn-view-report:hover {background-color: rgb(245, 130, 32); color: #fff;}
.btn-view-report:hover {background-color: rgb(245, 110, 32); color: #fff;}

.dictionary-learn-more {display:block;}

/* Main Content - Connect to Enterprise */

.connect .main-header {margin-bottom: 30px;}
.connect .main-header p {font-size: 14px;}
.main-content.connect {width: 520px; margin-left: auto; margin-right: auto;}
.main-content.connect .widget-header h3 {float: none;}
.main-content.connect .center span {font-weight: 500; font-size: 1.1em; padding-left: 5px;}
.main-content.connect input.form-control {display: inline; width: 200px; text-align: right;}
.main-content.connect button i {padding-left: 5px;}
.main-content.connect .upgrade {margin-top: 70px;}
.main-content.connect .upgrade a {font-size: 18px;}

/* Main Content - Environment Page */

.environment {position: absolute; height: 100%; width: 100%; margin: -15px -30px;}
.spinner-container {margin-top: 300px; text-align: center; transform: translateY(-50%);}
.spinner {display: inline-block;}
.webview {position: relative; height: 100%; z-index: 1;}

/* Footer */

.footer {text-align: left; color: #eee; background-color: #555555;}
.footer .social-icons {text-align: right; float: right;}
.footer .social-icons a,
.footer .social-icons a i {color: #fff;}
.footer .social-icons a:hover,
.footer .social-icons a:hover i {color: #ddd; text-decoration: none;}
.footer .social-icons ul {padding-bottom: 0; margin-bottom: 0; display: inline-block;}
.footer .social-icons li {display: inline; list-style: none; margin-left: 14px;}
.footer .social-icons i {font-size: 16px;}
@media screen and (max-width: 600px) {
  .footer {
    text-align: center !important;
  }
  .footer .social-icons {
    float: left !important;
    text-align: center !important;
  }
}

/* Enterprise Mode */

.header {
    display: none;
    box-shadow: 0 1px 0 #333333;
    background-color: #333333;
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #222222 100%);
    border-bottom: 1px solid #555555;
    height: 52px;
}
.header a {left: 14px; position: relative; top: 7px;}
.content-wrapper {border-left: none;}
.enterprise .header {display: block;}

.privacy-mode {position: absolute; right: 30px; top: 8px;}
.privacy-mode button {background-color: #c0392b; border-color: #ab3326;}
.privacy-mode i {font-size: 20px;}
.privacy-mode .dropdown-menu {padding-top: 15px; width: 450px;}
.privacy-mode .dropdown-menu i {width: 20px; margin-left: 15px; font-size: 14px;}
.privacy-mode .dropdown-menu strong {color: #c0392b;}

.enterprise {background-color: #444444;}
.enterprise .left-sidebar {background-color: #444444;}

.enterprise ul.main-menu {border-top: 1px solid #393939; margin: 7px 0 0;}
.enterprise .disconnect {border-top: none;}
.enterprise ul.main-menu > li {background-color: #444444;}
.enterprise ul.main-menu > li > div {
    font-size: 14px;
    padding: 10px 0 11px 15px;
    background-color: #444444;
    border-top: 1px solid #4e4e4e;
    color: #aaaaaa;
}
.enterprise ul.main-menu > li > div.minified { padding-left: 0px }
.enterprise ul.main-menu > li > a {
    background-color: #444444;
    border-bottom: 1px solid #393939;
    border-top: 1px solid #4e4e4e;
    color: #aaaaaa;
}
.enterprise ul.main-menu > li > a.active {
    background-color: #3a3a3a;
    background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
    font-weight: normal;
}
.enterprise .left-sidebar.minified ul.main-menu > li:hover > a > .text {
    background-color: #444444;
    font-weight: normal;
    border-left: none;
    border-right: none;
}
.enterprise ul.sub-menu > li > a {
    background-color: #2a2a2a;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #333;
    color: rgba(255, 255, 255, 0.35);
}
.enterprise ul.sub-menu {border-top: 1px solid #4e4e4e;}
.enterprise ul.sub-menu > li > a.active {font-weight: normal;}
.enterprise ul.sub-menu > li a:hover, .enterprise ul.sub-menu > li a.active {background-color: #272727; color: #ccc;}
.enterprise .left-sidebar.minified li:hover > ul.sub-menu {border: none;}

.enterprise .sidebar-minified {background-color: #444444;}

/* Setup Wizard */
.setup-wizard .main-content {
  padding-bottom: 15px !important;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.success {
  color: #27a229;
}
.error {
  color: #ca1512;
}
.form-control[disabled], fieldset[disabled] .form-control {
  color: #999;
}
.input-msg {
  margin-top: 3px;
  font-size: 75%;
  margin-left: 2px;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.setup-wizard { background-color: #999; overflow-y: hidden; }
.setup-wizard .modal-dialog { 
  width: 770px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px; 
  padding-bottom: 15px; 
}
.setup-wizard .modal-body { padding: 0; }
.setup-wizard .modal-body .row {margin: 0; }
.setup-wizard .modal-header { background-color: #eee; border-bottom: 1px solid #d3d3d3; }
.setup-wizard .modal-footer { margin-top: 0; }

.wizard-sidebar { background-color: #f6f6f6; }
.wizard-sidebar ul { list-style: none; padding-left: 0; font-size: .95em; margin-top: 10px; margin-bottom: 10;}
.wizard-sidebar ul li { text-align: center; }
.wizard-sidebar .validator .fa-circle { color: #4cae4c; }
.wizard-sidebar .define .fa-circle { color: #428bca; }
.wizard-sidebar .converter .fa-circle { color: #f34541; }
.wizard-sidebar .clinical-trials .fa-circle { color: #1caca0; }

.setup-wizard .wizard { margin-top: 15px; background-color: #fff; }
.setup-wizard .opt-in { position: absolute; top: 370px; right: 25px; }
.setup-wizard .terms-text {
    height: 325px;
    overflow-y: scroll;
    padding:5px;
    resize: none;
    border: 1px solid darkgrey;
    background-color:rgb(241,241,241)
}
Button.finish { width: 73px; }
span.form-error {
  display: inline-block;
  margin-top: 3px;
  color: #DB3833;
  font-size: 0.9em;
}
.setup-wizard .pinnacle-id-header h3 {
  display: inline-block;
}
.setup-wizard .pinnacle-id-header a {
  margin-left: 10%;
}
.setup-wizard a {
  cursor: pointer;
}
.setup-wizard .next-button-container {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}
.setup-wizard a.skip-for-now {
  margin-right: 10px;
}
.setup-wizard .login .widget-content {
  text-align: center;
}
.setup-wizard .login form {
  display: inline-block;
  width: 75%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.setup-wizard .login form .col-sm-10 {
  padding-left: 30px;
  padding-right: 30px;
}
.setup-wizard .login .form-group {
  margin-bottom: 0px;
}
.setup-wizard .login .login-field {
  margin-bottom: 20px;
}
.setup-wizard .login .login-field label {
  text-align: right;
}
.setup-wizard .login .login-field .form-input-footer {
  margin-top: 5px;
  text-align: center;
}
.setup-wizard .register .login-field .login-name input {
  display: inline-block;
  width: 47%;
}
.setup-wizard .register .login-field .login-name input:nth-child(2) {
  margin-left: 6%;
}
.setup-wizard .register .login-field .verify-password {
  margin-top: 5px;
}
.setup-wizard .register .form-hint span {
  font-size: 70%;
}
.setup-wizard .register .form-hint {
  padding-top: 7px;
  padding-left: 0px;
  color: black;
}
.setup-wizard .register .main-content-footer {
  text-align: center;
}
.setup-wizard .has-error .Select-control {
  border-color: #ca1512;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.setup-wizard .fa-arrow-left {
  margin-right: 5px;
}
.setup-wizard .fa-arrow-right {
  margin-left: 5px;
}
.self-employed-modal {
  width: 60% !important;
  top: 20%;
}
.self-employed-modal .modal-header {
  background-color: #ffffff;
  border-bottom: 0px;
  padding: 0px;
  text-align: center;
}
.self-employed-modal .close {
  margin-right: 7px;
  margin-top: 2px;
}
.self-employed-modal .modal-header h4 {
  font-size: 95%;
  padding-left: 25px;
}
.self-employed-modal .modal-body {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.setup-wizard .password-recovery .widget-content {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.setup-wizard .password-recovery .widget-content h3 {
  padding-bottom: 20px;
  margin-top: 0;
}
.setup-wizard .password-recovery form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.setup-wizard .password-recovery .main-content-footer {
  text-align: center;
}
.setup-wizard .has-error .form-control {
  border-color: #ca1512;
}
.setup-wizard .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #ca1512;
}
.setup-wizard .has-error .form-control-feedback {
  color: #ca1512;
}
.setup-wizard .has-error {
  color: #ca1512;
}
.login-field .help-block {
  margin-bottom: 0;
  margin-left: 2px;
  font-size: 75%;
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 1px !important;
}
.login-field > div.form-group.has-feedback {
  margin-bottom: 5px;
}
.login-field .col-sm-6 {
  padding-right: 10px;
}
.setup-wizard .login .form-horizontal .has-feedback .form-control-feedback {
  right: 30px;
}
.setup-wizard .login .form-horizontal .has-feedback .form-control-feedback {
   top: 0;
 }
.setup-wizard .login .help-block {
  margin-bottom: 0;
}
.setup-wizard .forgot-password #formHorizontalEmail {
  width: 65%;
  display: inline-block;
  text-align: center;
}

.pinnacle-id-settings .help-block {
  margin-left: 2px;
  font-size: 75%;
  margin-bottom: 0;
}
.pinnacle-id-settings .help-block {
  margin-left: 2px;
  font-size: 75%;
  margin-bottom: 0;
  color: #ca1512;
}
.communication-prefs .widget div:nth-child(2) {
  display: inline-block;
  text-align: left;
}
.communication-prefs .checkbox label {
  font-size: 120%
}
.verify-account .field-wrap {
  height: 50px;
  width: 50px;
  margin-left: 6px;
}
#security-code-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}
#security-code-container > div {
  margin-left: 10px;
}
#security-code-container input {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d6d6d6;
  font-size: 24px;
  text-align: center;
}
#security-code-container input[disabled] {
  color: #999;
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
.setup-wizard .verify-account form {
    padding-top: 0;
}
.about-pinnacle-id {
    min-height: 450px;
    background-color: #eee;
    padding: 20px;
    margin: 7px !important;
    border: 1px solid #d3d3d3;
    text-align: center;
    color: #333333;
}
.about-pinnacle-id .close-div {
    min-height: 40px;
}
.about-pinnacle-id .close-div .close{
    opacity: .4;
    font-size: 24px;
}
.about-pinnacle-id .skipping-subheader {
    margin-top: 30px;
    margin-bottom: 0;
}
.pinnacle-id-benefits {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
}
.pinnacle-id-benefits-prefs .pinnacle-id-benefits {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pinnacle-id-benefits-prefs .pinnacle-id-benefits .benefit-detail {
  margin-bottom: 10px;
}
.pinnacle-id-benefits-prefs p {
  margin-bottom: 0;
}
.pinnacle-id-benefits-prefs .preference-title {
  margin-bottom: 0;
}
.pinnacle-id-benefits-prefs .actions {
  text-align: center;
  margin-bottom: 25px;
}
.pinnacle-id-benefits ul {
    margin: 0.75em 0;
    list-style: none;
}
.pinnacle-id-benefits li:before {
    content: "";
    border-color: transparent #f58220;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -2em;
    top: 1.3em;
    position: relative;
}
.pinnacle-id-benefits .benefit-header {
    color: #f58220;
    font-size: 18px;
}
.pinnacle-id-benefits .benefit-separator {
    color: #f58220;
}
.pinnacle-id-settings .form-control {
  display: inline-block;
}
.pinnacle-id-settings .pinnacle-id-input label {
  margin-right: 10px;
  padding-top: 6px;
}
.pinnacle-id-name-input input:nth-child(1) {
  margin-right: 10px;
  width: 47%;
}
.pinnacle-id-name-input input:nth-child(2) {
  width: 48%;
}
.pinnacle-id-input {
  margin-bottom: 10px;
}
.pinnacle-id-input .Select-control {
  height: 32px;
  border-radius: 0;
}
.pinnacle-id-settings .col-md-2 {
  padding-right: 0;
}
.pinnacle-id-settings .col-md-6 {
  padding-left: 0;
  padding-right: 10px;
}
.pinnacle-id-settings .col-md-4 {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  text-align: left;
}
.pinnacle-id-settings .col-md-4 .one-line {
  margin-top: 10px;
}
.pinnacle-id-settings .col-md-4 .two-line {
  margin-top: 0;
}
.pinnacle-id-settings a {
  cursor: pointer;
}
.pinnacle-id-settings .pinnacle-id-confirmation {
  text-align: center;
}
.about-pinnacle-id .button-option {
    display: inline-block;
    padding: 25px;
}
.about-pinnacle-id .button-option button {
  margin-bottom: 5px;
}
.confirm-forgot-password-content {
  display: inline-block;
}
.confirm-forgot-password-content .confirmation-password-fields {
  display: inline-block;
  margin-bottom: 5px;
}
.confirm-forgot-password-content .confirmation-password-fields .verify-password div:first-child {
  margin-top: 10px;
}
.confirm-forgot-password-content .confirmation-password-fields {
  width: 214px;
}
.confirm-forgot-password-content .confirmation-password-fields .help-block {
  text-align: left;
  font-size: 10px;
  margin-left: 2px;
}
.confirm-forgot-password-content:first-of-type p {
  margin-bottom: 0;
}


/* *********** TO REVIEW *********** */

.form-control[readonly] {
  background-color: #fff;
}

.report-format {
  float: left;
  width: 80px;
}

div.group {
  margin-bottom: 10px;
}

/* ABOUT MODAL */
.about-modal {
  width: 400px;
}
.about-modal .modal-body {
  text-align: center;
  padding-bottom: 0;
}
.about-modal img {
  width: 300px;
}

/* PREFERENCES MODAL */
.preferences-body {
  display: flex;
  padding: 0px;
}

.preferences-sidebar {
  width: 150px;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  background-color: #ececec;
}

.preferences-sidebar > ul > li > div {
  padding: 10px 0 11px 15px;
  color: #555;
  background-color: #ececec;
  border-top: 1px solid #dfdfdf;
  font-size: 14px;
  cursor: pointer;
}

.preferences-sidebar > ul > li > div.active {
  font-weight: 700;
  background-color: #dfdfdf;
}

.preferences-sidebar > ul > li > div.disabled-sidebar-option {
  color: #ccc;
  cursor: not-allowed;
}

.col-md-9.preferences-content {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 300px;
}

.prefs-password-fields {
  width: 50%;
}

.preferences-footer {
  margin-top: 0px;
}

.preference-title {
  padding-bottom: 10px;
}

.preference-option-item, .dictionary-form-item {
  margin-bottom: 1em;
}

.file-name-format {
  width: 60%;
}

.excel-message-limit {
  width: 30%;
}

/* IMPORT DICTIONARY */

.add-dictionary-icon {height: 32px;}
.add-dictionary-icon > i {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.dictionary-form-item .col-sm-12 {padding-left: 0; padding-right: 0;}
.dictionary-form-item .progress {margin-bottom: 0;}
.dictionary-form-item .form-group {height: 34px;}
.dictionary-modal-body {padding-bottom:0;}
.meddra-version {width: 10%;}
.snomed-version {width: 20%;}

/* CLINICAL TRIALS MINER */
.miner-error {
  margin-left: 10px;
}